flyingStone-log
flyingStone-log/

#parent
parent/.idea
parent/.idea/*
parent/parent.iml
parent/target
parent/target/
#core
core/core.iml
core/target
core/target/
#security
security/security.iml
security/target
security/target/
#backStage
backStage/backStage.iml
backStage/logs
backStage/logs/
backStage/target
backStage/target/

#authorize
authorize/authorize.iml
authorize/target
authorize/target/

#demo


#demoWeb