<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p (%c:%L)- %m%n"/>
        </layout>
    </appender>

    <appender name="DAILY-debug" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/Users/tsk/Desktop/workspace/flyingStone/flyingStone-log/backStage-debug"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p (%c:%L)- %m%n"/>
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
            <param name="LevelMax" value="ERROR" />
        </filter>
    </appender>

    <logger name="com.flyingStone" additivity="false">
        <level value="INFO"/>
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
    </logger>

    <logger name="org.mybatis" additivity="false">
        <level value="INFO"/>
    </logger>

    <!-- 根logger的设置-->
    <root>
        <level value="ALL"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DAILY-debug"/>
    </root>

</log4j:configuration>